<template name="about">
	<h1>Welcome!</h1>
	<p>
		Thanks for checking out our simple newsfeed app, built on Meteor.JS! Take a look around, we hope you like it.
	</p>
	<p>
		Please feel free to <a href="https://github.com/DinsmoreDesign/meteor-news-feed" title="For our repository on GitHub!">fork this repo</a> and use it for your own, or get in touch with us at <a href="https://dinsmoredesign.com" title="Dinsmore Design | We Build Brands">dinsmoredesign.com</a> and collaborate to make it even better!
	</p>
</template>